[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "==2.3.1", index = "downloadpytorch"}
datasets = "==3.1.0"
evaluate = "==0.4.3"
flwr = "==1.13.1"
transformers = "==4.46.3"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
